<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
      <add key="urlSingle" value="https://api.wavecell.com/sms/v1/{subAccountId}/single"/>
      <add key="urlMany" value="https://api.wavecell.com/sms/v1/{subAccountId}/many"/>
      <add key="subAccountId" value="testtest_4jJ96_hq"/>

      <add key="apiKey" value="YYYYYYYYEEEEEEEEESSSSSSSSSSSS"/>
      <add key="dlrCallbackUrl" value="http://136.243.171.216:49979/api/notification"/>

      <add key="testSource" value="test"/>
      <add key="testDestination1" value="79999999999"/>
      <add key="text1" value="Hello. This is a test message! Привет"/>
      <add key="clientMessageId1" value="1111"/>
      <add key="testDestination2" value="78888888888"/>
      <add key="text2" value="Hello. This is a test message! Привет"/>
      <add key="clientMessageId1" value="2222"/>
    </appSettings>

    <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>